.table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 75%;
}

.sorting {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.sorting > a {
    margin: 50px;
    font-size: 18px;
}
