{% extends "./client.twig" %}

{% block content %}
    <div class="d-flex flex-column">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <p class="lead">Більшість відвідувачів наших тренінгів їх не потребують, оскільки не
                    піддаються
                    навчанню.
                    Але вониплатеспроможні, і в цьому основна суть тренінгів.</p>
            </div>
        </div>
        <p>Наш тренінговий цейнтр є найкрутішим у світі!</p>
        <p>Заповніть заявку, і з Вами зв'яжеться менеджер. Тільки спробуйте не заповнити або заповнити
            неправильно!</p>
    </div>
{% endblock %}
