{% extends "./client.twig" %}

{% block content %}
    <div class="d-flex flex-column">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <p class="lead">{{ lang.aboutUsQuote }}</p>
            </div>
        </div>
        <p>{{ lang.aboutUsBragging }}</p>
        <p>{{ lang.aboutUsContactUs }}</p>
    </div>
{% endblock %}
