{% extends "./client.twig" %}

{% block content %}
    <div class="d-flex flex-column">
        <img src="../public/static/images/code-photo.jpg" alt="Main page image"/>
        <div class="d-flex flex-column">
            <h1 style="margin-top: 40px; margin-bottom: 20px; color: {{ config.navbarColor }}">
                {{ lang.mainHeader }}</h1>
            <p>{{ lang.mainText }}</p>
        </div>
    </div>
{% endblock %}
